
@media screen and (max-width: 900px){
  .wrapper-modal {
    max-width: 80%;
    max-height: 60%;
    width: 70%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    }
  .product-img-modal img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 7px 7px 7px 7px;
    display: block;
  }
  .product-info-modal {
    color: var(--tg-theme-text-color);
    justify-content: center;
  }
  .product-text-modal h1 {
    color: var(--tg-theme-text-color);
    font-size: 24px;
  }
  .product-text-modal p {
    color: var(--tg-theme-hint-color);
    font-size: 18px;
  }
  .product-img-modal {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    align-items: center;
  }
  .product-price-btn-modal {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .product-price-btn-modal button {
    display: flex;
    justify-content: center;
    background: var(--tg-theme-button-color);
	  color: var(--tg-theme-button-text-color);
    padding: 10px;
    margin-top: 10px;
    border: none;
	  border-radius: 7px;
	  font-size: 18px;
  }
}