.form-container {
    background-color: cyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    padding: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .form-input {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  
  .form-submit-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  
  
  